{%- for groupName, firstUrlSegment in groupNamesWithFirstUrlSegment -%}
{%-set snake_case_operation = _.snakeCase(_.camelCase(_.deburr(groupName)).replace(' ','')).toUpperCase()-%}

CREATE TABLE {{snake_case_operation}}S
(
    id   serial PRIMARY KEY,
    name text,
    deleted_at TIMESTAMP
);

{% endfor %}

